{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- Program Updates Start-->
                                <div class="col-xl-8 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Program Updates</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <p style="margin-left: 25px">
                                                <b>Rotation Changes</b><br/>
                                                There was an issue with togo / bar / host shift rotations where the order of the shifts were based on the alphabetical order of the employees. This has now been fixed so that the order is based on the order you have it typed in on your settings page. You might notice a change in your shift rotation for these employee types due to the changes.
                                            </p>                    
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <p style="margin-left: 25px">
                                                <b>Host Scheduling Funcionality</b><br/>
                                                You can now add your hosts to the schedule. If you are interested in adding this functionality, contact <a href="mailto:support@aubreys.group">support@aubreys.group</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--[ ABC Expirations ] start-->
                                <div class="col-xl-8 col-md-6">
                                    <div class="card Recent-Users">
                                        <div class="card-header">
                                            <h5>Upcoming ABC Expirations</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <tbody>
                                                    {% for empId in expiry %}
                                                    <tr class="unread">
                                                        <td>
                                                            <img class="rounded-circle" style="width:40px;"
                                                                src="/static/assets/images/user/user-logo-1.png" alt="activity-user">
                                                        </td>
                                                        <td>
                                                            <h6 class="mb-1">{{ expiry[empId].displayName }}</h6>
                                                            <p class="m=0">{{ expiry[empId].phone }}</p>
                                                        </td>
                                                        <td>
                                                            <h6 class="text-muted">
                                                                <i class="fas fa-circle text-c-red f-10 m-r-15"></i>
                                                                {{ expiry[empId].abcExpire }}
                                                            </h6>
                                                        </td>
                                                        <td><a href="employees.html#a-{{ empId }}"
                                                            class="label theme-bg2 text-white f-12">&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;</a>
                                                    </td>
                                                    </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ ABC Expirations ] end-->
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
